ul{
    list-style: none;
    color: white;
}
body{
    background-color: #dc0a2d;
    font-family: 'Pokemon Solid', sans-serif;
}

#dexLogo{
    position: static;
    margin-left: 1%;
    margin-top: .05%;
    height: 5%;
    width: 5%;
}

#toBox{
    position: fixed;
    background-color: #dedede;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    border: 2px solid;
    top: 12%;
    left: 80.2%;
    height: 3%;
    width: 10%;

    text-align: center;
}

#toBox:hover{
    background-color: #00bfff;
}  

#search{
    position: absolute;
    background-color: #dedede;
    border-radius: 25px;
    border-top-right-radius: 0;
    border: 2px solid;
    top: 15%;
    left: 10%;
    height: 80%;
    width: 80%;
}

#searchResults, #searchFields{
    font-size: 10.3px;
    position: absolute;
    background-color: #232323;
    border-radius: 25px;
    top: 6.5%;
    left: 6.5%;
    height: 88%;
    width: 88%;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#searchResults::-webkit-scrollbar{
    display: none;
}

.pokemon a{
    color: white;
}

.pokemon a:hover{
    color: #dc0a2d;
}

.gen {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.pokemon h1 {
    margin-top: 0;
    margin-bottom: 0;
}

.sprite {
    margin-top: 0;
    width: 200px;
    height: 200px;
}

.types img {
    width: 90px;
    height: 30px;
}


/* Default styling for one item per row */
.pokemon {
    display: block;
    width: 100%;
    margin-left: 10px;
    margin-bottom: 10px;
}

/* Adjust layout for screens with enough width for three items per row */
@media screen and (min-width: 1200px) {
    .pokemon {
        width: calc(33.33% - 20px); /* 3 Pokémon in a row */
        margin-left: 0;
        margin-right: 10px;
        display: inline-block;
    }
    .pokemon:nth-child(3n+1) {
        margin-left: 10px; /* Extra to the right for first pokemon */
    }
}

/* Adjust layout for screens with less width for two items per row */
@media screen and (max-width: 1199px) and (min-width: 800px){
    .pokemon {
        width: calc(50% - 20px); /* 2 Pokémon in a row */
        margin-left: 0;
        margin-right: 10px;
        display: inline-block;
    }
    .pokemon:nth-child(2n+1) {
        margin-left: 10px; /* Extra to the right for first pokemon*/
    }
}



