/*
Authors: Jake Balla, Cesar Perez, Audrina Campa, Chris Machado
Purpose: This page styles the login page. This includes:
1) Making squares for Pokedex Style
2) Coloring the Pokedex
3) Positioning the Pokedex elements
4) Applying rounding to parts of the Pokedex
5) Applying Pokemon Font
6) Creating search button
7) Changing color of search button on hover
*/
body {
    background-color: #dc0a2d;
    font-family: 'Pokemon Solid', sans-serif;
}

#dexLogo {
    position: static;
    margin-left: 1%;
    margin-top: .05%;
    height: 5%;
    width: 5%;
}

#loginSquare {
    position: absolute;
    background-color: #dedede;
    border-radius: 25px;
    border-top-left-radius: 0%; /* Get rid of rounding on top left */
    border: 2px solid;
    top: 15%;
    left: 10%;
    height: 80%;
    width: 80%;
}

#screen{
    position: absolute;
    background-color: #232323;
    border-radius: 25px;
    top: 6.5%;
    left: 6.5%;
    height: 88%;
    width: 88%;
}

#toSearch{
    position: fixed;
    background-color: #dedede;
    border-top-left-radius: 25%; /* Rounding only on left and right */
    border-top-right-radius: 25%;
    border: 2px solid;
    top: 12%;
    left: 10%;
    height: 3%;
    width: 10%;
    text-align: center;
}

#toSearch:hover{
    background-color: #00bfff; /* Change color on hover */
}  

ul{
    margin-left: 50px;
    margin-top: 50px;
    list-style: none;
    color: white;
}

input[type=text], input[type=password]{
    margin-bottom: 20px;
    width: 25vw;
}