/*
Authors: Jake Balla, Cesar Perez, Audrina Campa, Chris Machado
Purpose: This page styles the pokemon page. This includes:
1) Applying Pokedex boxes as background
2) Coloring those Boxes
3) Changing color of buttons on a hover
5) Displaying pokemon information in a grid
6) Change color of links on hover
7) Set image properties
8) Add hidden scroll bar to items
9) Round Buttons
*/
body{
    background-color: #dc0a2d;
}

#dexLogo{
    position: static;
    margin-left: 1%;
    margin-top: .05%;
    height: 5%;
    width: 5%;
}

#toBox{
    position: fixed;
    background-color: #dedede;
    border-top-left-radius: 25%; /* Round left and right */
    border-top-right-radius: 25%;
    border: 2px solid;
    top: 12%;
    left: 80.2%;
    height: 3%;
    width: 10%;
    text-align: center;
}

#toBox:hover{
    background-color: #00bfff; /* Change color on hover */
}

#border{
    position: absolute;
    background-color: #dedede;
    border-radius: 25px;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    border: 2px solid;
    top: 15%;
    left: 10%;
    height: 80%;
    width: 80%;
}

#info{
    position: absolute;
    background-color: #232323;
    border-radius: 25px;
    top: 6.5%;
    left: 6.5%;
    height: 88%;
    width: 88%;
    display: grid;
    overflow: hidden;
    grid-template-columns: 20% 30% 50%; /* Three columns with specified widths */
    gap: 0px; /* Gap between columns */
}

h1, h2{
    color: white;
}

#info *{
    margin-left: 10px;
}


#extraStats{
    margin-top:10px;
}

li{
    color: white;
    list-style: none;
}

a{
    color: white;
}

a:hover{
    color: #dc0a2d;
}

th{
    color: white;
}

td{
    color:white;
}

.types{
    width: 100px;
    height: 20px;
}

#generation{
    width: 20px;
    height: 20px;
}

#pokemonImg{
    width: 10vw;
    height: 10vw;
}

#legendary{
    width: 20px;
    height: 20px;
}

#mythical{
    width: 20px;
    height: 20px;
}

span{
    font-size: 0.8em;
}

#stats{
    margin-top: 10px;
    border: 1px solid;
    border-color: white;
    height: 95%;
    width: 100%;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
#stats::-webkit-scrollbar{
    display: none; /* Hide scrollbar */
}

#extra{
    margin-top: 10px;
    margin-left: 20px;
}

#stats li{
    font-size: 1em;
}

#evolutionBox{
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-right: 10px;
    border: 1px solid;
    border-color: white;
    width: 100%;
    height: 25%;
}
#evolutionBox::-webkit-scrollbar{
    display: none; /* Hide scrollbar */
}

#abilitiesBox{
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-right: 10px;
    border: 1px solid;
    border-color: white;
    width: 100%;
    height: 25%;
}

#abilitiesBox::-webkit-scrollbar{
    display: none;
}

h2{
    font-size: 1.3em;
}

#movesBox{
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-right: 10px;
    border: 1px solid;
    border-color: white;
    height: 45.6%;
    width: 100%;
}

#movesBox::-webkit-scrollbar{
    display: none;
}

#locationDiv{
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border: 1px solid;
    border-color: white;
    padding-right: 10px;
    height: 55%;
    width: 80%;
}

#locationDiv::-webkit-scrollbar{
    display: none;
}

p{
    color: white;
}

#cypherDisplay{
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-right: 10px;
    border: 1px solid;
    border-color: white;
    height: 40.8%;
    width: 80%;

}
#cypherDisplay::-webkit-scrollbar{
    display: none;
}


#moves tr{
    text-align: center;
    margin: 0 auto;
}

td{
    font-size: 0.8em;
}

#addButton{
    position: fixed;
    background-color: #dedede;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    border: 2px solid;
    top: 12%;
    left: 10%;
    height: 3%;
    width: 10%;
    text-align: center;
}

#addButton:hover{
    background-color: #00bfff;
}  

h3{
    color: white;
    font-size: 1.5em;
    text-align: center;
}